 body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
 body {
      background: linear-gradient(to right, #8eadeb, #e8eee9);
    }
       header, nav, main, footer { padding: 20px; }
        header { background: #6a61e4; color: white; text-align: center; }

        nav { background: #333; display: flex; flex-wrap: wrap; justify-content: center; }
        nav a {
            color: white; padding: 14px 20px; text-decoration: none;
        }
        nav a:hover { background: #575757; }

        .card {
    background: #bcf0bccc;
    padding: 25px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border: 1px solid #e2e8f0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add or change these: */
    width: 30%;      /* Adjust width (like 60%, 70%, or px like 500px) */
    margin: 20px auto; /* Centers the card horizontally */
}

.internship-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 330px;
      max-width: 1500px;
      margin: auto;
    }
    .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 30px 40px rgba(97, 5, 218, 0.08);
    }


        form input, form button {
            display: block; margin: 10px 110px; padding:8px; width: 50%;
        }

        #todoList li {
            margin: 5px 0;
        }
        #contact h2,
#todo h2 {
    text-align: center;
}


        @media (max-width: 768px) {
            .container { grid-template-columns: 1fr 1fr; }
        }
